Django==2.2.2
django-admin-autocomplete-filter==0.2
django-admin-list-filter-dropdown==1.0.3
django-admin-multiple-choice-list-filter==0.1.1
django-adminlte3==0.1.6
django-advanced-filters==2.0.0
django-appconf==1.0.3
django-celery-inspect==0.2.1
django-cors-headers==3.0.2
django-easy-select2==1.5.7
django-filter==2.1.0
django-image-optimizer==1.0.0
django-imagekit==4.0.2
django-multiselectfield==0.1.12
django-optimized-image==0.2.0
django-rest-swagger==2.2.0
django-select2==7.10.0
django-tinymce==2.8.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
djangorestframework-link-header-pagination==0.1.1
djangorestframework-simplejwt==4.3.0
mysqlclient==2.1.1
PyJWT
django-cors-headers